<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ThaiNQ_Faq::faq" title="ThaiNQ FAQ" translate="title" module="ThaiNQ_Faq" sortOrder="0" resource="ThaiNQ_Faq::faq"/>

        <add id="ThaiNQ_Faq::faq_item" title="Manage FAQ" translate="title" module="ThaiNQ_Faq" parent="ThaiNQ_Faq::faq" sortOrder="20" resource="ThaiNQ_Faq::faq_item" action="thaifaq/faq/index"/>
    </menu>
</config>